img {
    width: 300px;
    height: 400px;
    float: left;
}

h1 {
    text-align: center;
    width: 600px;
    color: #0066CC;
}

p  {
    font-size: 30px;
    color: #0066CC;
}

h2 {
    color: #0066CC;
    font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color:#4A2C0F; 
  color: #0066CC;
  padding: 16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: medium;
}

body  {
  background: #22C1C3;
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(149, 255, 0, 1) 100%);
}